@media (max-width: 1100px) {
  body #container {
      header {
        display: block;

        h1 {
          margin-bottom: 30px
        }

        nav {
          a {
            padding: 0;
          }
        }
      }

      main {
      // background: yellow;

      #bio img {
        float: none;
        width: 100%;
      }
    }
  }
}


@media (max-width: 1000px) {
  body #container {
    width: 640px;
    padding: 0;

    header {
      h1 {
        font-size: 3.5em;
      }
    }

    main {
      // background: pink;

      display: block;

      #video,
      #bio {
        grid-area: none;
      }

      #video {
        margin-bottom: 2em;
      }

      #bio {
        // background: rgba(125, 125, 125, .5);
        width: 640px;
        overflow: hidden;

        img {
          float: left;
          width: 150px;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  body {
    #container {

      header {
        // background: yellow;
        padding: 0 2em;

        nav {
          // background: lightgreen;

          a {
            // background: orange;
            padding: 0;
          }
        }
      }

      #bio {
        padding: 1em;
      }
    }
  }
}

@media (max-width: 640px) {
  body {
    #container {
      width: 100%;

      header {
        // background: orange;
        display: block;

        h1 {
          margin-bottom: 30px;
        }

        nav {
          a {
            display: inline-block;
            width: 100%;
          }
        }

      }

      main {
        // background: lightgreen;

        #video {
          width: 100%;
          padding: 56.25% 0 0 0;
          position: relative;

          iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }

        #bio {
          width: 100%;
          padding: 0;

          p {
            // background: orange;
            margin: 0 1em 1em;
          }
        }

      }
    }
  }
}
